<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link href="{{ url_for('static', filename='cssI.css') }}" rel="stylesheet">
</head>

<body>

<header>
    <h1>ChatBot</h1>
    <p>Bienvenue sur ma page d'accueil</p>
</header>

<nav>
    <a href="/recherche">Rechercher</a>
    <a href="/connecter">Se connecter</a>
    <a href="/apropos">À propos</a>
    <a href="/contact">Contact</a>
</nav>

<section class="hero">
    <h1>Bienvenue !</h1>
    <p>Sur ce site vous pourrez acceder a notre ChatBot revolutionnaire.</p>
    <a href="#" class="btn">En savoir plus</a>
</section>



</body>
</html>
