<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>A propos</title>
    <link href="{{ url_for('static', filename='cssI.css') }}" rel="stylesheet">
</head>

<body>

<header>
    <h1>ChatBot</h1>
    <p>A propos de nous</p>
</header>

<nav>
    <a href="/">Acceuil</a>
    <a href="/recherche">Rechercher</a>
    <a href="/connecter">Se connecter</a>
    <a href="/contact">Contact</a>

</nav>

<section class="hero">
    <h2>Bienvenue sur notre site de ChatBot</h2>
    <p>Nous sommes une équipe de passionnés de technologie et d'intelligence artificielle, dédiée à la création de solutions
         innovantes pour améliorer la vie quotidienne. Notre ChatBot révolutionnaire est conçu pour offrir 
         une expérience utilisateur exceptionnelle, en utilisant les dernières avancées en matière d'IA et de traitement
         du langage naturel. Nous croyons en l'importance de l'accessibilité et de la convivialité, et nous nous efforçons
         de rendre notre ChatBot facile à utiliser pour tous. Rejoignez-nous dans cette aventure passionnante et découvrez 
         comment notre ChatBot peut transformer votre façon d'interagir avec la technologie !</p>
</section>



</body>
</html>
