<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="{{ url_for('static', filename='cssI.css') }}" rel="stylesheet">
</head>

<body>

<header>
    <h1>ChatBot</h1>
    <p>Page de contact</p>
</header>

<nav>
    <a href="/">Acceuil</a>
    <a href="/recherche">Rechercher</a>
    <a href="/connecter">Se connecter</a>
    <a href="/apropos">À propos</a>

</nav>

<section class="hero">
    <h2>Bienvenue sur notre site de ChatBot</h2>
    <p>Contactez-nous pour plus d'informations !</p>
</section>



</body>
</html>
